/* Write CSS Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.full {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    min-height: 100px;
    
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color:rgb(178, 213, 222);
    padding: 20px;
 
}
.right {
    position: initial;
    background-color: rgb(250, 249, 246);
    padding: 20px;
 
}

.image, .Contact, .Skills, .Language, .title,
.Summary, .Experience, .Education, .project, .Scores {
    margin-bottom: 30px;
}

p {
    margin: .2em auto
}

h3 {
    margin: .2em auto
}


.skills-container{
    display: flex;
    flex-wrap: wrap;
}

.skills-data{
    background: rgb(95, 95, 95);
    padding: 0.3rem;
    color: rgb(250, 249, 246);
    border-radius: 0.3rem;
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
    
}

ul{
    margin-left: 2em;
}

